@media (max-width: 1464px) {

  img {
    width: auto;
    height: 100%;
  }


  .how_list-text {
    height: auto;
    max-width: 437px;
  }

  .how_descr-img {
    max-height: 700px;
    height: 100%;
    max-width: 437px;
    width: 100%;
    padding-top: 10px;
  }

  .footer__container {
    justify-content: space-around;
  }

  .footer_info {
    max-width: 1113px;
  }

  .width-1024 .width-768 .width-320 {
    display: none;
  }

}

@media (max-width: 1280px) {

  img {
    width: auto;
    height: 100%;
  }

  .container {
    padding: 0 50px;
    margin-bottom: 80px;
  }

  .header__container {
    padding-left: 45px;
    padding-top: 5px;
    margin-bottom: 0;
    justify-content: space-between;
  }

  /* .width-1024 .width-768 .width-320 {
    display: none;
  } */

  /* .header__nav {
    display: none;
  } */

  .header__btn {
    margin-right: 50px;
  }

  .burger {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    color: #333;
    z-index: 4;
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 3px;
    background-color: currentColor;
    border-radius: inherit;
    transform: translateX(-50%);
  }

  .burger__line:nth-child(1) {
    top: 8px;
  }

  .burger__line:nth-child(3) {
    bottom: 9px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .header__logo {
    margin-right: 0;
    width: 150px;
    height: 48px;
    padding: 0;
    /* margin-right: 364px; */
  }

  .header__container-logo {
    display: none;
  }

  .header__container-logo-1 {
    display: block;
  }


  .about__flex {
    flex-direction: column;
  }

  .about__card-1 {
    margin-bottom: 32px;
  }

  .footer__container {
    padding-top: 53px;
    flex-wrap: nowrap;
  }

  .footer__list_container {
    margin-right: 129px;
  }

  .footer_form {
    padding: 0;
  }

  .footer_form_input {
    width: 100%;
  }

  .footer_form_textarea {
    width: 100%;
  }

  .footer_btn {
    width: 240px;
  }

  .footer_info {
    display: none;
  }
}

@media (max-width: 1024px) {

  img {
    width: auto;
    height: 100%;
  }

  .header__nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    min-width: 250px;
    height: 100vh;
    z-index: 2;
    padding: 170px 50px;
    box-shadow: 0 0 5px #888;
    background-color: #fff;
    overflow-y: auto;
    visibility: hidden;
    transform: translateX(-120%);
    transition: visibility 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.header__nav .nav__list {
    flex-direction: column;
}

.header__nav .nav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 60px;
}

.header__nav .nav__link {
    font-size: 18px;
}

.header__nav--active {
    visibility: visible;
    transform: none;
}

  .burger--active
    .burger__line:nth-child(2) {
        opacity: 0;
    }

    .burger--active
    .burger__line:first-child {
        left: 25%;
        top: 50%;
        transform: rotate(45deg);
        transform-origin: center;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
    }

    .burger--active
    .burger__line:last-child {
        bottom: auto;
        left: 25%;
        top: 50%;
        transform: rotate(135deg);
        transform-origin: center;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
    }

    .stop-scroll {
        overflow: hidden;
    }

  .container {
    padding: 0 50px;
    margin-bottom: 80px;
  }

  .header__container {
    padding-left: 45px;
    padding-top: 5px;
    margin-bottom: 0;
    justify-content: space-between;
  }

  /* .header__nav {
    display: none;
  } */

  .header__btn {
    margin-right: 50px;
  }

  .burger {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    color: #333;
    /* margin-right: 351px; */
  }

  .burger__line {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 3px;
    background-color: currentColor;
    border-radius: inherit;
    transform: translateX(-50%);
  }

  .burger__line:nth-child(1) {
    top: 8px;
  }

  .burger__line:nth-child(3) {
    bottom: 9px;
  }

  .burger__line:nth-child(2) {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .header__logo {
    margin-right: 0;
    width: 150px;
    height: 48px;
    padding: 0;
    /* margin-right: 364px; */
  }

  .header__container-logo {
    display: none;
  }

  .header__container-logo-1 {
    display: block;
  }

  .swiper {
    max-width: 924px;
    width: 100%;
    max-height: 670px;
    height: 100%;
    z-index: 0;
  }

  .hero__content {
    max-width: 924px;
    width: 100%;
    max-height: 668px;
    height: 100%;
    padding: 0;
    align-items: center;
    justify-content: center;
    /* z-index: 0; */
  }

  .hero__content-2 {
    max-width: 770px;
    width: 100%;
  }

  .hero__title {
    font-size: 60px;
    line-height: 73px;
    min-height: 0;
    margin-bottom: 17px;
  }

  .hero__descr {
    font-size: 20px;
    line-height: 24px;
    max-width: 780px;
    margin-bottom: 50px;
  }

  .about__title {
    margin-bottom: 10px;
  }

  .about__descr {
    max-width: 930px;
    margin-bottom: 62px;
  }

  .about__flex {
    flex-direction: column;
  }

  .about__card-1 {
    background-image: url(./img/about1024.jpg);
    max-width: 924px;
    width: 100%;
    min-height: 640px;
    height: 100%;
    margin-bottom: 32px;
  }

  .about__card-1-rgba {
    width: 924px;
  }

  .about__card-2,
  .about__card-3 {
    max-width: 924px;
    padding-left: 77px;
  }

  .how__descr {
    align-items: flex-start;
  }

  .how_list {
    margin-right: 50px;
  }

  .how_list-item:not(:last-child) {
    margin-right: 85px;
  }

  .how_list-img {
    padding-top: 193px;
  }

  .how_descr-img {
    max-height: 700px;
    height: 100%;
    max-width: 437px;
    width: 100%;
    padding-top: 10px;
  }

  .how_list-btn {
    margin-bottom: 51px;
  }

  .how_list-text {
    height: auto;
    max-width: 437px;
    margin-bottom: 24px;
    margin-right: 50px;
  }

  .faq__title {
    margin-bottom: 33px;
  }

  .faq__list-item {
    font-size: 20px;
    line-height: 32px;
  }

  .ac .ac-trigger {
    font-size: 20px;
    line-height: 32px;
    padding: 30px 0px;
  }

  .faq_svg {
    padding: 0;
    margin-right: 0;
    padding-left: 10px;
    margin-left: 90px;
    max-width: 62px;
    width: 100%;
  }

  /* .faq_svg {
    padding: 0;
    margin-right: 0;
  } */

  .footer__container {
    padding: 50px;
    flex-wrap: nowrap;
    justify-content: start;
  }

  .footer__list_container {
    margin-right: 133px;
  }

  .footer_form_input {
    width: 100%;
  }

  .footer_form_textarea {
    width: 100%;
  }

  .footer_btn {
    width: 240px;
  }

  .footer_form_check {
    font-size: 15.8px;
  }

  .footer_info {
    display: none;
  }

}

@media (max-width: 768px) {

  img {
    width: auto;
    height: 100%;
  }

  .container {
    padding: 0 50px;
    margin-bottom: 78px;
  }

  .header__container {
    height: 69px;
    padding-left: 35px;
    margin: 0;
  }

  .burger__line:nth-child(2) {
    top: 35%;
  }

  .burger__line:nth-child(1) {
    top: 4px;
  }

  .burger__line:nth-child(3) {
    bottom: 13px;
  }

  .burger__line {
    transform: translateX(-20%);
  }

  .burger__line:nth-child(2) {
    transform: translateX(-20%)
  }

  /* .swiper-slide {
    background-image: url(./img/hero1024.jpg);
  } */

  .hero__content {
    max-width: 668px;
    width: 100%;
    max-height: 662px;
    height: 100%;
    padding-left: 40px;
    padding-top: 30px;
  }

  .hero__title {
    font-size: 50px;
    line-height: 61px;
  }

  .hero__descr {
    font-size: 18px;
    line-height: 22px;
    max-width: 589px;
    margin-bottom: 60px;
  }

  .about__descr {
    max-width: 680px;
    margin-bottom: 60px;
  }

  .about__card-1 {
    background-image: url(./img/about768.jpg);
    max-width: 668px;
    min-height: 650px;
  }

  .about__card-1-rgba {
    max-width: 668px;
    padding: 34px 40px;
  }

  .about__card-1-descr {
    max-width: 360px;
    margin-right: 53px;
  }

  .about__card-svg {
    width: 19%;
    margin-right: 17px;
  }

  .about__card-2,
  .about__card-3 {
    max-width: 668px;
    padding-left: 40px;
    padding-right: 46px;
    min-height: 235px;
    min-width: 0;
  }

  .how_descr-img {
    padding: 0;
    max-height: 284px;
    margin-bottom: 38px;
  }

  .how_list {
    max-width: 668px;
    width: 100%;
    margin-right: 0px;
  }

  .how_list-1 {
    justify-content: space-between;
  }

  .how_list-text {
    max-width: 683px;
    margin-bottom: 25px;
  }

  .how_list-item:not(:last-child) {
    margin-right: 155px;
  }

  .how_list-btn:not(:last-child) {
    margin-right: 150px;
  }

  .how_descr_all {
    flex-direction: column-reverse;
  }

  .how_tabs {
    flex-direction: column-reverse;
  }

  .ac .ac-trigger {
    font-size: 20px;
    line-height: 32px;
    padding: 30px 0px;
  }

  .faq__title {
    max-width: 600px;
  }

  .faq_svg {
    padding: 0;
    margin-right: 0;
    padding-left: 10px;
    margin-left: 30px;
    max-width: 62px;
    width: 100%;
  }

  /* .faq_svg {
    padding-left: 45px;
  } */

  .footer__container {
    padding: 50px;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  .footer_list-1 {
    display: none;
  }

  .footer_form {
    margin-bottom: 50px;
    padding: 0;
  }

  .footer_form_input {
    max-width: 540px;
    width: 100%;
  }

  .footer_form_textarea {
    max-width: 540px;
    width: 100%;
    margin-bottom: 33px;
  }

  .footer__logo {
    margin-bottom: 6px;
  }
}

@media (max-width: 576px) {

  img {
    width: auto;
    height: 100%;
  }

  .container {
    padding: 0;
    padding-left: 15px;
    margin-bottom: 58px;
  }

  .header__container {
    padding: 4px;
    padding-top: 18px;
    margin-bottom: 0px;
  }

  .header__logo {
    width: 105px;
  }

  .header__btn {
    margin-right: 15px;
  }

  .hero__content {
    max-width: 290px;
    max-height: 308px;
    padding-top: 0;
    padding-left: 5px;
    text-align: center;
    align-items: center;
  }

  .hero__content-2 {
    align-items: center;
  }

  .hero__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 9px;
  }

  .hero__descr {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 32px;
  }

  .hero__btn {
    margin: 0;
    width: 162px;
    height: 40px;
    font-size: 12px;
    line-height: 15px
  }

  .container .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 13px;
    left: -5px;
  }

  .container .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .about__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 20px;
  }

  .about__descr {
    font-size: 14px;
    line-height: 28px;
    max-width: 297px;
    margin-bottom: 14px;
  }

  .about__card-1 {
    background-image: url(./img/about320.jpg);
    background-repeat: no-repeat;
    margin-right: 0;
    height: 0;
    min-height: 405px;
    margin-bottom: 15px;
  }

  .about__card-1-rgba {
    background: none;
    width: 0;
    min-width: 295px;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .about__card-1-descr {
    color: var(--main-black);
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 10px;
  }

  .about_card-1-button {
    width: 163px;
    height: 40px;
    color: var(--main-yellow);
    font-size: 12px;
    line-height: 14px;
    padding: 9px 43px;
  }

  .about__card-svg {
    width: 24%;
    margin: 0;
    margin-bottom: 10px;
  }

  .about__card-2,
  .about__card-3 {
    flex-wrap: wrap;
    padding: 0;
    border: none;
  }

  .about__card-title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    max-width: 290px;
  }

  .about__card-descr {
    padding: 0;
    font-size: 14px;
    line-height: 29px;
    max-width: 290px;
  }

  .about__card-2 {
    margin-bottom: 20px;
  }

  .how_list {
    margin: 0;
    min-width: 290px;
  }

  .how_title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 20px;
    height: auto;
  }

  .how_list-1 {
    max-width: 290px;
    width: 100%;
    justify-content: space-between;
  }

  .how_list-item:not(:last-child) {
    margin-right: auto;
  }

  .how_list-btn {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 15px;
  }

  .how_descr-img {
    max-height: 160px;
    margin-bottom: 15px;
  }

  .how_descr-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
  }

  .how_list-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    width: 292px;
    margin-bottom: 16px;
  }

  .how_btn-1 {
    width: 162px;
    height: 40px;
    padding: 0px 38px;
    font-size: 12px;
    line-height: 14px;
    margin-right: 10px;
  }

  .how_btn-2 {
    margin: 0;
    width: 118px;
    height: 40px;
    margin-right: 0px;
    padding: 13px 31px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
  }

  .faq__title {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 16px;
  }

  .faq__list-item {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    padding: 30px 0px;
    max-width: 290px;
  }

  .faq_svg {
    max-width: 30px;
    width: 100%;
    padding-left: 0px;
    margin-right: 15px;
    margin-left: 10px;
  }

  .ac .ac-trigger {
    font-size: 14px;
    line-height: 24px;
  }

  .footer__container {
    padding: 0;
    padding-left: 15px;
    padding-bottom: 50px;
    padding-top: 35px;
  }

  .footer_form-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 19px;
  }

  .footer_form_input {
    width: 100%;
  }

  .footer_form_textarea {
    width: 100%;
    margin-bottom: 21px;
  }

  .footer_button {
    flex-direction: column;
  }

  .footer_btn {
    width: 180px;
    height: 40px;
    margin-right: 0;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 12px;
  }

  .footer_form {
    max-width: 290px;
    margin-bottom: 25px;
  }

  .footer__logo {
    margin-bottom: 0px;
    max-width: 131px;
    width: 100%;
    padding-top: 2px;
    margin-left: -3px;
  }

  .footer_svg {
    max-width: 67%;
  }

  .Footer_list_logo_item {
    margin: 0;
    margin-right: -4px;
  }

  /* .footer_list_logo1 {
    padding-left: 69px;
  } */

  .footer__list_container {
    margin: 0;
    align-items: center;
    flex-wrap: nowrap;
  }
}
